langchain_community==0.3.23
langchain_experimental==0.3.4
numpy==2.2.5
openai==1.76.2
rank_bm25==0.2.2
scikit_learn==1.6.1
sentence_transformers==4.1.0
torch==2.4.0+cu124
tqdm==4.67.1
transformers==4.49.0
